---
import { Image } from 'astro:assets'
import {profile} from '../../settings'
import SocialIcons from './SocialIcons.astro'
// import ProfilePictures from '@/assets/IK.png'
import { getCollection } from 'astro:content'
import { template } from '@/settings'

const isBlogPopulated = await getCollection('blog').then(collection => collection.length > 0)

const {fullName, title} = profile
---
<!-- <aside
	class='px-4 pt-4 h-screen w-[20rem] bg-base-200 text-base-content flex flex-col'
>
	<div class='flex flex-col my-8 justify-between h-full'>
		<div> -->
			<!-- <div class='flex justify-center items-center flex-col'>
				<Image
					class='mask mask-circle size-44'
					src={ProfilePictures}
					alt={`Profile picture of ${fullName}`}
				/>
				<h1 class="text-lg font-black mt-8 hidden lg:block">{title} <span>{fullName}</span></h1>
			</div> -->
			<!-- <img src="/IK.svg" class="h-12 text-base-content" /> -->
			<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="currentColor">
			<text x="10" y="30" font-size="40" font-family="Cardo">IK</text>
			</svg>

			<div class='mx-4 mt-16'>
				<ul class='space-y-4 menu grow shrink menu-md overflow-y-auto'>
					<li>
                        <a href={`${template.base}/`} class='text-lg'>Home</a>
					</li>
					<li>
                        <a href={`${template.base}/research`} class='text-lg'>Research</a>
					</li>
					<li>
                        <a href={`${template.base}/papers`} class='text-lg'>Papers</a>
					</li>
					<li>
                        <a href={`${template.base}/cv`} class='text-lg'>CV</a>
                    </li>
					<li>
                        <a href={`${template.base}/afterhours`} class='text-lg'>After Hours</a>
                    </li>
                    {isBlogPopulated &&
					<li>
                        <a href={`${template.base}/blog/1`} class='text-lg'>Blog</a>
</li>
                    }
				</ul>
			</div>
		</div>
		<div class='mx-4'>
			<SocialIcons/>
		</div>
	</div>
</aside> -->
<aside
	class="px-4 pt-4 h-screen w-[20rem] bg-base-200 text-base-content flex flex-col"
>
	<div class="flex flex-col justify-between h-full">
		<div>
			<!-- LOGO -->
			<div class="mx-5 mb-6 mt-3">
				<a href={`${template.base}/`} class="no-underline hover:opacity-80 transition-opacity">
					<h1 class="text-8xl font-[Cardo] text-base-content select-none">IK</h1>
				</a>
			</div>

			<!-- MENU -->
			<div class="mx-2">
				<ul class="space-y-3 menu grow shrink menu-md overflow-y-auto">
					<li><a href={`${template.base}/`} class="text-lg">Home</a></li>
					<li><a href={`${template.base}/research`} class="text-lg">Research</a></li>
					<li><a href={`${template.base}/papers`} class="text-lg">Papers</a></li>
					<li><a href={`${template.base}/projects`} class="text-lg">Projects</a></li>
					<li><a href={`${template.base}/cv`} class="text-lg">CV</a></li>
					<li><a href={`${template.base}/afterhours`} class="text-lg">After Hours</a></li>
					{isBlogPopulated &&
						<li><a href={`${template.base}/blog/1`} class="text-lg">Blog</a></li>
					}
					<li><a href={`${template.base}/contact`} class="text-lg">Contact</a></li>
				</ul>
			</div>
		</div>

		<!-- SOCIAL ICONS -->
		<div class="mx-2 mb-4">
			<SocialIcons />
		</div>
	</div>
</aside>
